div.formArea {
    width: auto;

    /* background-color: aliceblue; */
    box-shadow: 0px 0px 2px #0c0c0c;

    padding: 1rem;
    border-radius: 2rem;
    margin-block: 2rem;
}

form {
    width: 80%;
    margin-inline: auto;
    margin-block-start: 2rem;
}

form div {
    margin-block: 1rem;

    display: flex;
}

form div.address {
    flex-wrap: wrap;
}

form label {
    margin-right: 1rem;

    font-weight: 500;
}

form label input {
    font-size: 1rem;
    font-weight: 400;

    height: 1rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    
    outline: none;
    background-color: rgba(12, 12, 12, 0.10);
}

form label input:hover {
    border: 1px solid rgba(12, 12, 12, 0.212);
}

form div.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block-start: 3rem;
}

form button {
    cursor: pointer;

    font-size: 1rem;
    font-family: 'kalnia', sans-serif;

    background-color: #ff0000;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;

    transition: ease 800ms;
}

form button:hover {
    padding: 0.8rem, 1.4rem;
    box-shadow: 0px 0px 1px #ff0000b2;
}