---
import BaseLayout from "../layouts/baseLayout.astro";
import FormComponent from "../components/formComponent";

import "../styles/formComponent.css";

const pageTitle = "Employment Application";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="formArea">
		<div class="image">
			<img src="/images/logo.svg" alt="logo">
		</div>
		<h1>{pageTitle}</h1>
		<FormComponent></FormComponent>
	</div>
</BaseLayout>

		
